/*General*/
body {
    background-color: #F8F8F8;
    font-size: 16px;
    color: #2B3D50;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #1f1f1f !important;
    font-family: 'Open Sans', sans-serif;
}

.no-padding {
    padding: 0 !important;
}

/* Header */

.site-header {
    background-color: transparent;
    padding: 1.5% 0;
}

/*Navigation*/

#mainnav li {
    float: left;
    padding: 0 1em;

}

#mainnav ul li a {
    color: #1f1f1f;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 1.2px;
}

#mainnav ul li a:hover {
    color: #F6BF26;
}

/*Content*/

#player {
    width: 100%;
    height: 50em;
    border: none;
    margin-bottom: 0;
    margin-right: 0;
    float: left;
}

/*Löwe-Bild*/
.lion-img {
    padding: 17.5% 0 5% 0;
}

/*Codepen-Styles*/
/*
#player {
    width: 700px;
    height: 500px;
    border: 1px solid black;
    margin-bottom: 22px;
    margin-right: 22px;
    float: left;
}
*/

#codepen {
    position: fixed;
    top:0;
    right: 0;
    margin: 5px;
}

#content input {
    border: 2px solid #566963;
    font-family: Arial;
    font-size: 15px;
    padding: 5px;
}

button, select {
    box-shadow: inset 0px 1px 3px 0px #91b8b3;
    background-color: #768d87;
    border-radius: 5px;
    border: 1px solid #566963;
    display: block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 8px 16px;
    text-decoration: none;
    text-shadow: 0px -1px 0px #2b665e;
    margin: 5px;
}

button:hover {
    background-color:#6c7c7c;
}

button:active {
    position:relative;
    top:1px;
}

button:disabled {
    background-color: #aaa;
    text-shadow: none;
    box-shadow: none;
    border-width: 0px;
    color: #ccc;
}

button:focus {
    outline: none;
}

.roundedButton {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background-size: contain;
    display: inline-block;
}

.highlight {
    color: red;
}

hr {
    clear: left;
}

.roundedImg {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background-size: contain;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
    border: 3px solid #566963;
}


/*Footer*/

/*Media Queries*/
@media (max-device-width: 1200px) {

    #mainnav li {
        padding: 0 0.875em;
    }

    #mainnav ul li a {
        letter-spacing: 0.5px;
    }
}

